.header {
    padding-left: 0px;
    padding-right: 0px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 100px;
}

.hotcoffe-title {
    font-weight: 700;
    font-size: 20px;
}

.search-bar>img {
    margin-bottom: -3px;
}

input{
    border: none;
    font-size: 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu>a {
    text-decoration: none;
    color: #000000;
}

.head-section {
    padding-left:0;
    padding-right: 0;
    background: #FBFBFB;
    display: flex;
    justify-content: space-around;
}

.make-better-coffee {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.cup-of-coffee {
    margin-bottom: -20px;
}

.how-to-blog {
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
}
