.header {
    padding-left: 0px;
    padding-right: 0px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 100px;
}

.header__hotcoffe-title {
    font-weight: 700;
    font-size: 20px;
}

.header__search-bar>img {
    margin-bottom: -3px;
}

.header__search-bar>input{
    border: none;
    font-size: 16px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header__head-section {
    padding-left:0;
    padding-right: 0;
    background: #FBFBFB;
    display: flex;
    justify-content: space-around;
    padding: 70px;
}

.header__make-better-coffee {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.header__cup-of-coffee {
    margin-bottom: -20px;
}

.header__how-to-blog {
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
}
