.header {
    padding-left:90px;
    padding-right: 100px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotcoffe-title {
    font-weight: 700;
    font-size: 20px;
}

.search-bar>img {
    margin-bottom: -3px;
}

input[type=search]{
    border: none;
    font-size: 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu>a {
    text-decoration: none;
    color: #000000;
}
