.main {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 90px;
    padding-right: 100px;
}

.main__last-blog {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    padding-left: 4%;
    margin-bottom: 40px;
}

.main__blog-text {
    margin-right: 40px;
}

.main__blog-name {
    font-size: 30px;
    font-weight: 700;
    color: #2D3748;
}

.main__blog-text {
    font-size: 14px;
    line-height: 17px;
    color: #718096;
}

.main__view-blog-text__last-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__view-blog-text__last-line>a {
    font-weight: 700;
}

.main__view-blog-text__last-line>p {
    color: #718096;
}

.main_post-img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.main__posts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main_posts__blog {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    margin-bottom: 40px;
    width: 350px;
}

.main_blog-text {
    padding-left: 5%;
    padding-right: 5%;
}

.main_blog-text>p {
    color: #718096;
}

.main__what-is-loremipsum {
    background: #F7FAFC;
    display: flex;
    justify-content: space-around;
}

.main__what-is-loremipsum__view-blog-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20%;
    
}

.main__button {
    margin-top: 30px;
    background-color: #6B46C1;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    width: 120px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.main__right {
    display: grid;
    justify-content: right;
}